<header class="navbar navbar-fixed-top navbar-inverse navbar_primary">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   '#' %></li>
        <li><%= link_to "Help",   '#' %></li>
      </ul>
    </nav>
  </div>
</header>
