#signup_modal {
  .modal-dialog {
    padding: 0px 130px;
    margin-top: 110px;
  }
  .modal-title{
    text-align: center;
  }
  .row {
    padding: 0px 15px;
  }
  input {
    margin-bottom: 7px;
  }
  p{
    text-align: center;
    font-size: 11px;
  }
}
